#game-pic{
    height: 100%;
    margin: auto;    
    display: block;
}
#game{
    height: 75%;
}
#backdrop{
    height: 48%;
}
#puzzle{
    height: 33.33%;
    border: white solid 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#progress{
    background-color: red;
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
}
#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
.card{
    text-align: center;
}
.card-body{
    color:orange;
    border: orange solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin:0;
}
.card-body:hover{
    color: yellow;
    border: yellow solid 3px;

}
#buttons .card:not(:first-child):hover{
    font-size: 0px;
}
.annoying:hover{
    background-image:url('./subjects/annoyingdog.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
}

#stats, #stats  > div, #buttons{
    display: flex;
    flex-direction: row;
}

#wins, #stats > div{
    width: 40%;
}
#fight{
    cursor: pointer;
}  



@media only screen and (max-width: 430px) {
    .card-body{
        font-size: 0.9em;
    }
    #puzzle > p{
        font-size: 0.8em;
    }
    #progress{
        margin-top: 3%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    #game{
        height: 60%;
    }
    #backdrop{
        height: 50%;
    }
    #puzzle{
        height: 20%;
        font-size: 2em;
    }
    #buttons{
        height: 30%;
    }
    .card{
        width: 24.5%;
        font-size: 1em;
        height: 50%;
    }
    
}
@media only screen and (min-width: 600px){
    #stats{
        font-size: 1.7em;
        /* height: 1%; */
    }
    #progress{
        margin-top: 7%;
    }
    .card{
        font-size: 1.9em;
        height: 100%;
    }

}


@media only screen and (min-width: 768px){
    /* #progress{
        margin-top: 1%;
    } */
    #puzzle{
        font-size: 3.5em;
    }
    .card{
        font-size: 2.5em;
        width: 22%
    }
    #stats{
        font-size: 2em;
    }
    #progress{
        margin-top: 6%;
    }

}

@media only screen and (min-width: 992px){
    .card{
        font-size: 3em;
    }
    #stats{
        font-size: 2em;
    }

    #progress{
        margin-top: 4%;
    }

}


@media only screen and (min-width: 1200px){
    #puzzle{
        font-size: 6em;
    }
    .card{
        font-size: 4em;
    }

}