#game-pic{
    height: 100%;
    margin: auto;    
    display: block;
}
#game{
    height: 75%;
}
#backdrop{
    height: 48%;
}
#puzzle{
    height: 33.33%;
}
#stats{
    margin-top: 1%;
    height: 4.55%;
}
#puzzle{
    border: white solid 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#progress{
    background-color: red;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    width: 20%;
}
#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
.card{
    text-align: center;
    /* font-size: 2.0em; */
    width: 20%;
}
.card-body{
    color:orange;
    border: orange solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin:0;

}
#stats, #stats  > div, #buttons{
    display: flex;
    flex-direction: row;
}

#wins, #stats > div{
    width: 40%;
}  


@media only screen and (max-width: 430px) {
    .card-body{
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 600px){
    .card{
        width: 24.5%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    #game{
        height: 60%;
    }

    #backdrop{
        height: 50%;
    }
    #puzzle{
        height: 20%;
        font-size: 2em;

    }
    #buttons{
        height: 30%;
    }
    .card{
        font-size: 1em;
        height: 50%;
    }
    
    #progress{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
        width: 20%;
    }
}

@media only screen and (min-width: 768px){
    #progress{
        margin-top: 1%;
    }
    #puzzle{
        font-size: 5em;
    }
    .card{
        font-size: 1.5em;
    }
}



@media only screen and (min-width: 1200px){
    #puzzle{
        font-size: 6em;
    }
}