/*GLOBAL CSS*/
header{
	display: block;
}
body{
	background-color: black;
	color: white;
	text-align: center;
}
p{
	font-size: 16px;
}
#winScreen, #loseScreen{
	display: none;
}
#gameScreen{
	display: none;	
}
button{
	color: orange;
	border-color: orange;
	border-style: solid;
	border-width: 3px;
	background-color: black;
	width: 45%;
	display: inline-block;
}

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
	to {
	  visibility: hidden;
	}
  }
  @-webkit-keyframes blink-animation {
	to {
	  visibility: hidden;
	}
  }

/*start screen CSS*/
#startScreen {
    position: relative;
    display: block;
}
#startText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}
/*END*/



/*game screen CSS*/
#gameScreen, #stats {
	border-color: white;
	border-style: solid;
	border-width: 3px;
}

#left{

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*END*/



#loseScreen, #winScreen, #startScreen{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#loseScreen {
	background-image: url(../images/lost.png);
}

#winScreen {
	background-image: url(../images/dance.gif);
}

#startScreen {
	background-image: url(../images/homescreen.jpg);
}

/*END*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#startScreen, #winScreen, #loseScreen, #left {
		padding-bottom: 100%;	
	}
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#startScreen, #winScreen, #loseScreen, #left {
		padding-bottom: 60%;	
	}
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#startScreen, #winScreen, #loseScreen, #left {
		padding-bottom: 50%;	
	}
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#startScreen, #winScreen, #loseScreen, #left {
		padding-bottom: 35%;	
	}
} 

