/*GLOBAL CSS*/
header{
	display: block;
}
body{
	background-color: black;
	color: white;
	text-align: center;
}
p{
	font-size: 16px;
}
#winScreen, #loseScreen{
	display: none;
}
#gameScreen{
	display: none;	
}

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
	to {
	  visibility: hidden;
	}
  }
  @-webkit-keyframes blink-animation {
	to {
	  visibility: hidden;
	}
  }

/*start screen CSS*/
#startScreen {
    position: relative;
    display: block;
}
#startText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}
/*END*/



/*game screen CSS*/
#gameScreen {
	border-color: white;
	border-style: solid;
	border-width: 3px;
}
#right, #left{
	border-color: white;
}
#stats{
/*NEED MEDIA QUERIES TO FIX THIS PART*/
	height: 35%;
}
#left{
	border-right-width: 3px;
	border-right-style: solid;
	padding-top: 35%;
	background-image: url(../images/toriel.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*END*/



#loseScreen, #winScreen, #startScreen{
	padding-bottom: 35%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#loseScreen {
	background-image: url(../images/lost.png);
}

#winScreen {
	background-image: url(../images/dance.gif);
}

#startScreen {
	background-image: url(../images/homescreen.jpg);
}

/*END*/