#buttons{
    height: 11%;
}
#keyboard{
    height: 20%;
    justify-content: center;
}
#keyboard > .row{
    justify-content: center;
    text-transform: uppercase;

}
#top{
    width: 100%
}
#middle{
    width: 90%
}
#bottom{
    width: 80%;
}

@media only screen and (max-width: 768px) {
    #keyboard{
        height: 40%;
    }
    #bottom{
        width: 70%;
    }
}