#root{
    background-color: black;
}
.App{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (max-width: 768px) {
    .App{
        justify-content: space-between;
    }
}